/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

/* 
  Table Content
    1. header
    2. main
    3. score board
    4. choices
    5. start and msg
    6. strategy
    7. animation
*/


:root {
  --clr-1: #0a0744;
  --clr-2: #403275;
  --clr-3: #aca4bb;
  --clr-4: #e9e9e9;

  --animation: bounce 1000ms ease-in-out infinite;
  --rotate: rotate 250ms ease-in;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
p{
  color: var(--clr-1);
  font-family: 'Roboto Mono', monospace;
}

body {
  width: 100%;
  height: 90vh;
}

/* layout */
.rps-game {
  max-width: 35rem;
  height: auto;
  margin: 1rem auto;
  border: 2px solid var(--clr-1);
  background-color: var(--clr-4);
}

/* header */
.header {
  background-color: var(--clr-3);
  color:var(--clr-1);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  column-gap: 3rem;
}

.logo {
  font-size: 2rem;
  margin-left: 2rem;
}

/* main */
.container{
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* score-board */
.score-board {
  border: 2px solid var(--clr-1);
  position: relative;
  width: 10rem;
  height: 4rem;
  display:grid;
  place-items: center;
}

.score-board span{
  font-size: 2rem;
}

.player-img {
  background-color: var(--clr-4);
  font-size: 2rem;
  position: absolute;
  top:50%;
}

.left{
  left: 0;
  translate: -50% -50%;
}

.right{
  right: 0;
  translate: 50% -50%;
}

.info {
  width: 100%;
  height: 2rem;
  text-align: center;
  margin: 1rem 0;
}

.result {
  font-size: 2rem;
}

/* choices */
.choices-container {
  width: 20rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  perspective: 500px;
}

.choice-cover {
  width: 5rem;
  height: 5rem;
  position: relative;
}

.choice {
  font-size: 5rem;
  cursor: pointer;
  position: absolute;
  rotate: y 180deg;
  backface-visibility: hidden;
  z-index: -1;
  transition: var(--rotate);
}

.show-choice {
  rotate: y 0deg;
  z-index: 1;
}

.choice:hover {
  animation: var(--animation);
}

.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  z-index: 1;
  transition: var(--rotate);
}

.cover > img {
  width: 100%;
  height: 100%;
}

.hide-cover {
  rotate: y 180deg;
  z-index: -1;
}

/* Start and msg */
.action-container {
  width: 100%;
  height: 4rem;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

.action-msg {
  font-size: 2rem;
  scale: 0;
  transition: scale 250ms ease-in;
}

.show-msg {
  scale: 1;
}

.start {
  width: 10rem;
  height: 100%;
  font-size: 2rem;
  color: white;
  background-color: var(--clr-2);
  position: absolute;
  visibility: visible;
  transition: 250ms ease-in;
  transition-property: scale, opacity;
  cursor: pointer;
}

.start:hover {
  opacity: 0.6;
}

.hide-start {
  display: none;
}

/* strategy*/
.strategy-control{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 2rem;
  position: relative;
}

.title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.toggle-container {
  width: 2rem;
  height: 2rem;
  margin-right: -1.5rem;
  position: relative;
  perspective: 2rem;
}

.btn {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  position: absolute;
  transition: rotate 500ms ease;
  backface-visibility: hidden;
}

.toggle {
  z-index: 1;
}

.surrender:hover,
.toggle:hover{
  animation: var(--animation);
}

.hide-toggle {
  rotate:y 180deg;
  z-index: -1;
}

.surrender {
  rotate:y 180deg;
  z-index: -1;
}

.show-surrender {
  rotate:y 0deg;
  z-index: 1;
}

.strategies-container {
  width: max-content;
  height: 4.25rem;
  overflow-y: scroll;
  transition: scale 150ms linear;
  transform-origin: right;
  scale: 0 1;
  position: absolute;
  top:-25px;
  right: 25px;
}

.show-strategies {
  scale: 1 1;
}

.strategy {
  padding: 2px;
  font-size: 1rem;
  line-height: 1.5rem;
}

#chose-strategy {
  margin-left: 2rem;
}


/* animation */
@keyframes bounce {
  25% {
    scale: 1.1;
  }
  50% {
    scale: 1;
  }
  75%{
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}